<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            <div class="col-md-12 d-flex" style="background-color: #2A2727;color: white;">
                <div class="text-left col-md-6 align-self-center">
                    <h2>Bienvenido:  {{usuario}} </h2>
                </div>
                <div class="text-right col-md-6">
                     <button class="btn btn-danger my-5" onclick="logout()">LOGOUT</button></h2>
                </div>
               
            </div>
        </div>
    </div>
</div>
<div class="row" >
    <div id="divFormulario" class="col-md-10 offset-md-1" style="background-color:rgba(179, 177, 177, 0.963);">
        <dv class="row">
            <div class="col-md-12">
                <br>
                <h1>Menu</h1>
                <br>
            </div>
        </dv>
        <div class=" row " >
            <div class="col-md-10 offset-md-1 text-center">
                <div class="row">
                    <div class="col-md-10 offset-1 d-flex d-grid " >
                        <div class="col-md-4" style="background:#7e7c7c ; border-color: #2A2727;">
                            <br>
                            <a class="btn btn-primary"  href="/api/profile">PERFIL</a>
                            <br><br><br>
                            <div>
                                <img width="150px" height="auto" style="border-radius:50% ;" src="https://img.freepik.com/vector-premium/perfil-hombre-dibujos-animados_18591-58482.jpg?w=2000" alt="">
                            </div>
                            <br><br>
                        </div> 
                        <div class="col-md-4" style="background:#7e7c7c ;">
                            <br> 
                            <a class=" btn btn-primary" href="/api/productos">PRODUCTOS</a>
                             <br><br><br>
                            <div>
                                <img width="150px" height="auto" style="border-radius:50% ;" src="https://images.emojiterra.com/google/noto-emoji/v2.034/512px/1f3f7.png" alt="">
                            </div>
                            <br><br>
                        </div>
                        <div class="col-md-4" style="background:#7e7c7c ;"> 
                            <br>
                            <a class=" btn btn-primary" href="/api/carritos">CARRITO</a>
                             <br><br><br>
                            <div>
                                <img width="150px" height="auto" style="border-radius:50% ;" src="https://w7.pngwing.com/pngs/334/461/png-transparent-retail-e-commerce-computer-icons-marketing-sales-add-to-cart-button-text-service-logo.png" alt="">
                            </div>
                            <br><br>
                        </div>
                        
                        
                        
                    </div>    
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

<script>
    function redireccionar(pagina) {
        location.href = pagina;
    } 

    function logout() {
        console.log('logout');
        redireccionar('/logout')
    }
</script>
